<h4 style="font-weight: 900">Projects</h4>
<div class="projects">
  <div class="project-item">
    <div class="card">
      <a href="">
        <h5>
          Al-Qur'an CLI *
          <i class="fa-brands fa-github"></i>
        </h5>
      </a>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
        <a href="https://api-docs.quran.com/docs/category/quran.com-api"
          >quran.com</a
        >
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-rust"></i>
            Rust
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <a href="https://memo-ir.vercel.app">
        <h5>
          Memoir *
          <i class="fa-thin fa-globe"></i>
        </h5>
      </a>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Sanity</p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Next.js</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <a href="https://pootoforio.vercel.app">
        <h5>
          Pootoforio *
          <i class="fa-thin fa-globe"></i>
        </h5>
      </a>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            Typescript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Next.js</p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Framer Motion</p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>GSAP</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <a href="https://michie-only.vercel.app">
        <h5>
          Michie Only *
          <i class="fa-thin fa-globe"></i>
        </h5>
      </a>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-rust"></i>
            Rust
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Next.js</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        Aplikasi Web Kostera *
        <i class="fa-thin fa-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-js"></i>
            JavaScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-html5"></i>
            HTML
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-css3"></i>
            CSS
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Pyramid</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        MENGAMANKAN PESAN TEKS DALAM GAMBAR DENGAN MENGINTEGRASIKAN METODE
        KRIPTOGRAFI AES (CBC) DAN METODE STEGANOGRAFI DCT *
        <i class="fa-thin fa-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        Time BMKG *
        <i class="fa-thin fa-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-js"></i>
            JavaScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-html5"></i>
            HTML
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-css3"></i>
            CSS
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        Simple Mobile Application *
        <i class="fa-thin fa-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-js"></i>
            JavaScript
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
            <p>Expo</p>
          </div>
        </div>
      </div>
    </div>
    <div class="project-item">
      <div class="card">
        <h5>
          Space Battle *
          <i class="fa-thin fa-lock"></i>
        </h5>
        <p class="desc-project">
          A command-line interface to interact with the Al-Quran using the API
          from
        </p>
        <div class="techs">
          <div class="tech-item">
            <p>
              <i class="bx bxl-python"></i>
              Python
            </p>
          </div>
          <div
            class="tech-item"
            style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
          >
              <p>Pygame</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
