<h4 style="font-weight: 900">Projects</h4>
<div class="projects">
  <div class="project-item">
    <div class="card">
      <a href="">
        <h5>
          Al-Qur'an CLI *
          <i class="fa-brands fa-github"></i>
        </h5>
      </a>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
        <a href="https://api-docs.quran.com/docs/category/quran.com-api"
          >quran.com</a
        >
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-rust"></i>
            Rust
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <a href="https://memo-ir.vercel.app">
        <h5>
          Memoir *
          <i class="bx bx-globe"></i>
        </h5>
      </a>
      <p class="desc-project">
        Memoir 「メモワール」 is a website where I have space to express my
        complaints. This site uses Next Js and Sanity.
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Sanity</p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Next.js</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <a href="https://pootoforio.vercel.app">
        <h5>
          Pootoforio *
          <i class="bx bx-globe"></i>
        </h5>
      </a>
      <p class="desc-project">
        An interactive personal portfolio website. This website showcases my
        projects in Japanese style. I'm using GSAP and Framer Motion for
        animated text and transitions.
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            Typescript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Next.js</p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Framer Motion</p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>GSAP</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <a href="https://michie-only.vercel.app">
        <h5>
          Michie Only *
          <i class="bx bx-globe"></i>
        </h5>
      </a>
      <p class="desc-project">
        Fan platform for JKT48 members with profiles, Showroom integration, and
        live stream. Uses Rust for backend and
        <a href="https://www.showroom-live.com/api">Showroom API</a>.
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-rust"></i>
            Rust
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Next.js</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        Kostera Web Application *
        <i class="bx bxs-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-js"></i>
            JavaScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-html5"></i>
            HTML
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-css3"></i>
            CSS
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-tailwind-css"></i>
            Tailwind CSS
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Pyramid</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        SECURE TEXT MESSAGES IN IMAGES BY INTEGRATING AES CRYPTOGRAPHY (CBC) AND
        DCT STEGANOGRAPHY METHOD *
        <i class="bx bxs-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        BMKG Atomic Clock *
        <i class="bx bxs-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-js"></i>
            JavaScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-html5"></i>
            HTML
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-css3"></i>
            CSS
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        Simple Mobile Application *
        <i class="bx bxs-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="bx bxl-typescript"></i>
            TypeScript
          </p>
        </div>
        <div class="tech-item">
          <p>
            <i class="fa-brands fa-js"></i>
            JavaScript
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Expo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="card">
      <h5>
        Space Battle *
        <i class="bx bxs-lock"></i>
      </h5>
      <p class="desc-project">
        A command-line interface to interact with the Al-Quran using the API
        from
      </p>
      <div class="techs">
        <div class="tech-item">
          <p>
            <i class="bx bxl-python"></i>
            Python
          </p>
        </div>
        <div
          class="tech-item"
          style="font-weight: 700; background-color: rgba(18, 18, 18, 0.5)"
        >
          <p>Pygame</p>
        </div>
      </div>
    </div>
  </div>
</div>
