<h4 style="font-weight: 900">Skills</h4>
<p class="warning">
  <span style="color: #c51419; font-weight: 1000">Disclaimer!</span><br />
  I don't know the right title for this section, but I just want to show the
  programming languages and technology skills that I have tried. One more time,
  <b>I've only ever tried them.</b>
</p>
<div class="skills">
  <div class="skill-item">
    <p>
      <i class="fa-brands fa-rust"></i>
      Rust
    </p>
  </div>
  <div class="skill-item">
    <p>
      <i class="fa-brands fa-python"></i>
      Python
    </p>
  </div>
  <div class="skill-item">
    <p>
      <i class="fa-brands fa-js"> </i>
      JavaScript
    </p>
  </div>
  <div class="skill-item">
    <p>
      <i class="fa-brands fa-linux"></i>
      Linux
    </p>
  </div>
  <div class="skill-item">
    <p>
      <i class="bx bxs-terminal"></i>
      Terminal
    </p>
  </div>
  <div class="skill-item">
    <p>Next.js</p>
  </div>
  <div class="skill-item">
    <p>Django</p>
  </div>
  <div class="skill-item">
    <p>GSAP</p>
  </div>
</div>
