<footer>
  <div class="social-links">
    <a href="https://github.com/CaamVilvactDJavu">
      <i class="fa-brands fa-github fa-xl" style="color: #121212"></i
    ></a>
    <a href="https://x.com/CaamVilvact/">
      <i class="fa-brands fa-square-x-twitter fa-xl" style="color: #121212"></i
    ></a>
    <a href="https://www.instagram.com/c.a._.a.m/">
      <i class="fa-brands fa-square-instagram fa-xl" style="color: #121212"></i
    ></a>
    <a href="https://www.linkedin.com/in/ilham-fadhlur-00022b145/">
      <i class="fa-brands fa-linkedin fa-xl" style="color: #121212"></i
    ></a>
  </div>
  <p style="font-size: x-small">
    @ 2024 made by
    <a href="https://pootoforio.vercel.app">c.a._.a.m</a>. All rights reserved.
  </p>
</footer>
