<header>
  <div class="header-image">
    <img src="/static/image/profile.jpg" alt="placeholder" />
  </div>
  <div class="header-title">
    <h1>It's not all about me</h1>
  </div>
  <div class="header-info">
    <p>West Sumatera, Indonesia</p>
    <p>
      I'm a passionate Informatics Engineer with expertise in software
      development, web technologies, and innovative solutions. Based in West
      Sumatera, Indonesia, I strive to create impactful projects and learn new
      skills continuously.
    </p>
  </div>
</header>
