/* General Styles */
* {
  font-family: "Geist", "JetBrains Mono";
}

body {
  background: #c6b084;
  color: #121212;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 60px 0 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  color: rgba(18, 18, 18, 1);
  text-decoration: underline;
  text-decoration-style: wavy;
  transition: color 0.3s;
}

a:hover {
  color: rgba(18, 18, 18, 0.7);
  text-decoration: none;
  transition: color 0.3s;
}

::selection {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.warning {
  opacity: 0.8;
}

/* Header */
header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 20px;
  align-items: start;
  margin: 0 auto;
  max-width: 60rem;
  width: 90%;
  padding: 20px 0 50px;
}

.header-image img {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-title h1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 14px;
  font-weight: 900;
  height: 400px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-info p:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social-links {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60rem;
  width: 90%;
  padding: 20px 0 50px;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3px;
  padding: 10px 0;
  color: #121212;
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}

nav a {
  padding: 5px 10px;
}

/* Main Content */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
}

/* -- About Content -- */
/* Skills Section */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 6px;
  background-color: rgba(18, 18, 18, 0.2);
  border-radius: 5px;
  padding: 0 10px;
}

/* Projects Section */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 40px;
  column-gap: 20px;
}

.project-item {
  display: contents;
}

.desc-project {
  opacity: 0.8;
  overflow-y: auto;
  padding-right: 5px;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  align-self: end;
}

.tech-item {
  background-color: rgba(18, 18, 18, 0.2);
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid #121212;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.card h5 {
  margin-top: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding: 10px 0 30px;
  }

  .header-image img {
    width: 150px;
    height: 200px;
  }

  .header-title h1 {
    font-size: 12px;
    height: 200px;
  }

  body {
    padding-top: 30px;
  }

  .container {
    width: 95%;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .skills {
    justify-content: flex-start;
  }

  .skill-item {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .header-image img {
    width: 100px;
    height: 100px;
  }

  .header-title {
    flex-direction: column;
  }

  .header-title h1 {
    writing-mode: horizontal-tb;
    font-size: 16px;
    height: auto;
  }

  .header-info {
    align-items: center;
  }
  body {
    font-size: 14px;
  }

  /* nav { */
  /*   flex-direction: column; */
  /*   align-items: center; */
  /* } */
  /**/
  /* nav a { */
  /*   width: 100%; */
  /*   text-align: center; */
  /*   padding: 10px 0; */
  /* } */

  .skill-item {
    font-size: 10px;
    padding: 3px 6px;
  }
}
